<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    </head>
    <body>
    	<div class="container">
    		<div class="row">
    			<h1>Password Protected Content</h1>
    			<a href="{{ record.link }}">Go back to website</a>
				<form action="" method="post">
					<div class="form-group">
						{{ form_widget(form) }}
						<input type="submit" class="btn" value="Submit"></input>

					</div>
				</form>
    		</div>
		{% if error %}
			<div class="text-danger">{{ error }} {{ attempts }}</div>
		{% endif %}

    	</div>
      



       
    </body>
</html>